// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

main {
  font-family: D2Coding, "D2 coding", monosapce;
}

span.tag {
  border-radius: 5px;
  padding: 5px;
  font-size: 0.75rem;
  color: white;
  background-color: #ef6faa;
  opacity: 0.6;
  cursor: pointer;
  line-height: 2;
  transition: 0.5s;
}

span.selected {
  background-color: #b90659 !important;
}

li.hidden {
  display: none;
}
