---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}

    <!-- tag lists -->
    <div class="tag-wrapper">
      {% capture tags %}
        {% for tag in site.tags %}
          {% if site.data.tags contains tag[0] %}
            {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
          {% endif %}
        {% endfor %}
      {% endcapture %}

      {% assign sortedtags = tags | split:' ' | sort %}
      {% for tag in sortedtags reversed %}
        {% assign tagitems = tag | split: '#' %}
        {% capture tag_name %}{{ tagitems[1] }}{% endcapture %}
        {% capture tag_count %}{{ tagitems[2] }}{% endcapture %}
        <div class="tag" data-tag="{{tag_name}}">
          {{ site.data.format[tag_name] }} | {{ tag_count }}
        </div>
      {% endfor %}
    </div>


    <hr>

    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        {%- if post.hidden != true -%}
        <li class="post-wrapper">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3 style="margin-bottom: 0">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <p class="post-preview" markdown="1">
            {{ post.preview }}
          </p>
          <!-- post tag list -->
          {% if post.tags%}
            <div class="tag-wrapper">
              {% for tag in post.tags %}
                {% if site.data.tags contains tag %}
                  <div class="tag" data-tag="{{tag}}">
                    {{site.data.format[tag]}}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">
              Prev
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}

          <li>
            <div class="current-page">
              {{ paginator.page }} of {{ paginator.total_pages }}
            </div>
          </li>

        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">
              Next
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
