name: Check Typo

on:
  push:

jobs:
  check_typo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check Typo
        uses: crate-ci/typos
        with:
          config: ./typos.toml
